---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

//$background-color: #242424;
//$primary-color: #339933;
$link-color: #339933; // Windower Green

// Syntax Highlighting
$base00: #303030;
$base01: #393939;
$base02: #464646;
$base03: #6c6c6c;
$base04: #cacaca;
$base05: #eeeeee;
$base06: #efefef;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #ffcb6b;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #c792ea;
$base0f: #ff5370;

$type-size-1: 1.953em !default; // ~31.248px
$type-size-2: 1.563em !default; // ~25.008px
$type-size-3: 1.25em !default; // ~20px
$type-size-4: 1.1em !default; // ~16px
$type-size-5: 1.0em !default; // ~12px
$type-size-6: 0.75em !default; // ~11px
$type-size-7: 0.6875em !default; // ~10px
$type-size-1: 0.625em !default; // ~9px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials