---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #242424;
$info-color: #339933; // Windower Green

// Syntax Highlighting
$base00: #1b1b1b;
$base01: #2e2e2e;
$base02: #3f3f3f;
$base03: #5c5c5c;
$base04: #cacaca;
$base05: #eeeeee;
$base06: #efefef;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #ffcb6b;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #c792ea;
$base0f: #ff5370;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials